<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../common/links.ejs') %>
</head>

<body>
  <!-- ======= Header ======= -->
  <%- include('../components/header.ejs') -%>

    <%- include('../components/sidebar.ejs') -%>
      <main id="main" class="main">

        <div class="pagetitle">
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item">Admin List</li>
            </ol>
          </nav>
        </div><!-- End Page Title -->

        <section class="section">
          <div class="row">
            <div class="col-lg-12">

              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-6">
                      <h5 class="card-title">Admin List</h5>
                    </div>
                    <div class="col-md-4"></div>
                    

                  <table class="table datatable tbl_admin">
                    <thead>
                      <tr>
                        <th>Admin ID</th>
                        <th>Admin Name</th>
                        <th>Gender</th>
                        <th>Admin Phone</th>
                        <th>Admin Email</th>
                        <th>Password</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody>

                    </tbody>
                  </table>
                  

                <div class="modal fade" id="adminEditModal" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Edit Admin</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form id="frmAdminEdit">
                                    <div class="row mb-3">
                                        <label for="inputText" class="col-sm-4 col-form-label">Admin ID</label>
                                        <div class="col-sm-8">
                                            <input type="text" name="edit_admin_id" id="edit_admin_id" class="form-control" readonly>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="inputText" class="col-sm-4 col-form-label">Admin Name</label>
                                        <div class="col-sm-8">
                                            <input type="text" name="edit_admin_name"  id="edit_admin_name" class="form-control" placeholder="Enter Admin Name">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="inputText" class="col-sm-4 col-form-label">Gender</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="edit_gender" name="edit_gender" placeholder="Enter Gender">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="inputText" class="col-sm-4 col-form-label">Album Phone</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="edit_admin_ph" name="edit_admin_ph" placeholder="Enter phone number">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="formFile" class="col-sm-4 col-form-label">Email</label>
                                        <div class="col-sm-8">
                                            <!-- <input class="form-control" type="file" id="formFile"> -->
                                            <input type="text" class="form-control" id="edit_admin_email" name="edit_admin_email" placeholder="Enter email">
                                        </div>
                                      </div>
                                      <div class="row mb-3">
                                        <label for="formFileMultiple" class="col-sm-4 col-form-label">Password</label>
                                        <div class="col-sm-8">
                                            <!-- <input class="form-control" type="file" id="formFileMultiple" multiple> -->
                                            <input type="text" class="form-control" id="edit_admin_pw" name="edit_admin_pw" placeholder="Enter password">
                                        </div>
                                      </div>
                                    <div class="modal-footer justify-content-center">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Update</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
              </div>

            </div>
          </div>
        </section>

      </main><!-- End #main -->


      <!-- ======= Footer ======= -->
      <%- include('../components/footer.ejs') -%>

        <%- include('../common/scripts.ejs') %>
          <script src="/javascripts/admin.js"></script>
</body>

</html>