<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../common/links.ejs') %>
</head>

<body>
    <!-- ======= Header ======= -->
    <%- include('../components/header.ejs') -%>

        <%- include('../components/sidebar.ejs') -%>
            <main id="main" class="main">

                <div class="pagetitle">
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item">Music List</li>
                        </ol>
                    </nav>
                </div>
                <!-- End Page Title -->

                <section class="section">
                    <div class="row">
                        <div class="col-lg-12">

                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h5 class="card-title">Music List</h5>
                                        </div>
                                        <div class="col-md-4"></div>
                                        <div class="col-md-2">
                                            <button type="button" class="btn btn-primary m-2" data-bs-toggle="modal" data-bs-target="#musicModal">
                                                <i class="bi bi-music-note-beamed"></i>
                                                Add Music
                                            </button>
                                        </div>
                                    </div>

                                    <table class="table datatable " id="tbl_music">
                                        <thead>
                                            <tr>
                                                <th>Music ID</th>
                                                <th>Music Name</th>
                                                <th>Music Image</th>
                                                <th>Artist ID</th>
                                                <th>Album ID</th>
                                                <th>Songs</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>

                                    <div class="modal fade" id="musicModal" tabindex="-1">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Create Music</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <form id="frmMusicCreate">
                                                        <div class="row mb-3">
                                                            <label for="inputText" class="col-sm-4 col-form-label">Music Name</label>
                                                            <div class="col-sm-8">
                                                                <input type="text" class="form-control" id="music_name" name="music_name" placeholder="Enter Music Name">
                                                            </div>
                                                        </div>
                                                        <div class="row mb-3">
                                                            <label for="inputText" class="col-sm-4 col-form-label">Artist ID</label>
                                                            <div class="col-sm-8">
                                                                <input type="text" class="form-control" id="artist_id" name="artist_id" placeholder="Enter Artist Id">
                                                            </div>
                                                        </div>
                                                        <div class="row mb-3">
                                                            <label for="inputText" class="col-sm-4 col-form-label">Album ID</label>
                                                            <div class="col-sm-8">
                                                                <input type="text" class="form-control" id="album_id" name="album_id" placeholder="Enter Album ID">
                                                            </div>
                                                        </div>
                                                        <div class="row mb-3">
                                                            <label for="formFile" class="col-sm-4 col-form-label">Select Image</label>
                                                            <div class="col-sm-8">
                                                                <input class="form-control" type="file" id="music_image" name="music_image">
                                                            </div>
                                                        </div>
                                                        <div class="row mb-3">
                                                            <label for="formFileMultiple" class="col-sm-4 col-form-label">Select File</label>
                                                            <div class="col-sm-8">
                                                                <input class="form-control" type="file" id="music_files" name="music_files" multiple>
                                                            </div>
                                                        </div>

                                                        <div class="modal-footer justify-content-center">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                            <button type="submit" class="btn btn-primary">Create</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="modal fade" id="musicEditModal" tabindex="-1">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Edit Music</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <form id="frmMusicEdit">
                                                        <div class="row mb-3">
                                                            <label for="inputText" class="col-sm-4 col-form-label">Music ID</label>
                                                            <div class="col-sm-8">
                                                                <input type="text" name="edit_music_id" id="edit_music_id" class="form-control" readonly>
                                                            </div>
                                                        </div>
                                                        <div class="row mb-3">
                                                            <label for="inputText" class="col-sm-4 col-form-label">Music Name</label>
                                                            <div class="col-sm-8">
                                                                <input type="text" name="edit_music_name" id="edit_music_name" class="form-control" placeholder="Enter Music Name">
                                                            </div>
                                                        </div>
                                                        <div class="row mb-3">
                                                            <label for="inputText" class="col-sm-4 col-form-label">Artist ID</label>
                                                            <div class="col-sm-8">
                                                                <input type="text" class="form-control" id="edit_artist_id" name="edit_artist_id" placeholder="Enter Artist Name">
                                                            </div>
                                                        </div>
                                                        <div class="row mb-3">
                                                            <label for="inputText" class="col-sm-4 col-form-label">Album ID</label>
                                                            <div class="col-sm-8">
                                                                <input type="text" class="form-control" id="edit_album_id" name="edit_album_id" placeholder="Enter Album Name">
                                                            </div>
                                                        </div>
                                                        <div class="row mb-3">
                                                            <label for="formFile" class="col-sm-4 col-form-label">Select Image</label>
                                                            <div class="col-sm-8">
                                                                <input class="form-control" type="file" id="edit_music_image" name="edit_music_image">

                                                            </div>
                                                        </div>
                                                        <div class="row mb-3">
                                                            <label for="formFileMultiple" class="col-sm-4 col-form-label">Select File</label>
                                                            <div class="col-sm-8">
                                                                <input class="form-control" type="file" id="edit_music_files" name="edit_music_files" multiple>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer justify-content-center">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                            <button type="submit" class="btn btn-primary">Update</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </section>

            </main>
            <!-- End #main -->


            <!-- ======= Footer ======= -->
            <%- include('../components/footer.ejs') -%>

                <%- include('../common/scripts.ejs') %>
                    <script src="/javascripts/music.js"></script>
</body>

</html>